<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Tag</title>
    <link rel="stylesheet" href="/style/newtag.css" />
  </head>

  <body>
    <nav>
      <ul class="navbar-left">
        <li><a href="/posts">Home</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/posts">Posts</a></li>
      </ul>
      <ul class="navbar-right">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <div class="container">
      <header class="header">
        <h1 class="header__title">Edit Tag</h1>
      </header>

      <div class="content">
        <!-- Here we assume that you have the tag's ID available. Change the ":id" to the actual tag ID. -->
        <form action="/tags/<%= tag.id %>/edit" method="post" class="form">
          <div class="form-group">
            <label for="name" class="form__label">Tag Name</label
            ><br /><br /><br />
            <!-- Add a value attribute to pre-populate the field with the current tag name. Replace `currentTagName` with the actual variable containing the tag's name. -->
            <input
              type="text"
              name="name"
              class="form__input"
              value="<%= tag.name %>"
            />
          </div>
          <button class="form__button" type="submit">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
