<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/login.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="container">
      <div>
        <div>
          <h1 class="font1">Social Media</h1>
          <h2 class="font2">
            We help you connect with people around the world
          </h2>
        </div>
        <div class="newdiv">
          <div>
            <form action="/login" method="post" class="formcss">
              <div>
                <label for="email">Email</label><br />
                <input type="email" name="email" id="email" />
              </div>
              <div>
                <label for="password">Password</label><br />
                <input type="password" name="password" id="password" />
              </div>
              <button type="submit" class="submit">Log In</button>
            </form>
            <p class="registration">
              Don't have an account? Register here:
              <a href="/register">Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
